/* az összes alapvető stílus eltávolítása 
nav{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
/*----------------------------------------
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #F39C12 ;
	width: 100%;
}
.nav_links{
	display: flex;
	justify-content: space-around;
	width: 35%;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.nav_links li{
	background-color: #DAF7A6;
	border: 1px solid ;
}
.nav_links a{
	text-decoration: none;
	letter-spacing: 2px;
	color: whitesmoke;
}
*/
.container{
	width: 600px;
	margin: 0 auto;
	text-align: center;


}
.nav_links{
	width: 200%;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.nav_links li {
	border-radius: 10px;
	float: left;
	background: #F5A389;
	width: 150px;
	height:  30px;
	border: 0px, 1px, 0px, 1px;
}
.nav_links li:hover {
	background: #F3DBD3;
}
.nav_links li a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color: black;
}
