/* az összes alapvető stílus eltávolítása 
nav{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
/*----------------------------------------
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #F39C12 ;
	width: 100%;
}
.nav_links{
	display: flex;
	justify-content: space-around;
	width: 35%;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.nav_links li{
	background-color: #DAF7A6;
	border: 1px solid ;
}
.nav_links a{
	text-decoration: none;
	letter-spacing: 2px;
	color: whitesmoke;
}
*/
.container{
	width: 750px;
	margin: 0 auto;
	text-align: center;


}
.nav_links{
	width: 200%;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.nav_links li {
	/*border-radius: 10px;*/
	opacity: 0.6;
	float: left;
	background: black;
	width: 150px;
	height:  30px;
	border: 0px, 5px, 0px, 5px solid;
	border-color: #F5F5F5;
}
.nav_links li:hover {
	background: gray;
}
.nav_links li a {
	opacity: 1;
	display: block;
	padding: 5px;
	text-decoration: none;
	color: white;
}
