body{
	background-color: #FFC300;
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
}
header{
	background-color: #2ECC71;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
h1,h2{
	font-family: 'Cute Font', cursive;
}
header h1{
	color: whitesmoke;
}
header img{
	border: 5px solid black;
	border-radius: 170px;
	width:  300px;
}
main li{
	line-height: 30px;
}
main{
	margin:  0 auto;
	max-width: 800px;
}
footer p{
	background-color: #DAF7A6;
	margin: 0 auto;
}
footer{
	
	text-align: center;
	font-family: 'Times New Roman', 'sans-serif;';
	font-size: 15px;
	font-style: italic;
}
