body{
	background-color: #FFC300;
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
}
header{
	background-color: #2ECC71;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
h1,h2{
	font-family: 'Cute Font', cursive;
}
header h1{
	color: whitesmoke;
}
header img{
	border: 5px solid black;
	border-radius: 170px;
	width:  300px;
}
